.cart-items{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cart-item{
    height: 165px;
    width: 400px;
    background-color: #ffffff;
    margin: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 22px;
    border-radius: 23px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.cart-item img{
    height: 120px;
    width: 120px;
}
.description{
    margin-left: 15px;
    font-weight: 600;

}

.count-handler input {
    width: 25px;
}
.count-handler button {
    width: 25px;
}